{% extends "layout.html" %}

{% block heading %}
    Calendar Planner
{% endblock %}

{% block body %}

<form action="{{ url_for('index') }}" method="post">
    <input type="text" class="custom-input" name="event" placeholder="Enter event name here">
    <input type="date" class="custom-input" id="start" name="event_date" value="{{year}}-{{month}}-{{day}}" min="2018-01-01" max="2030-12-31">
    <button class="button">Add Event</button>
</form>

<form action="{{ url_for('clear') }}" method="get">
    <button class="button">Clear Events</button>
</form>



<div class="month">
    <ul>
      
      <li>{{month_name}}<br><span style="font-size:18px">{{year}}</span></li>
    </ul>
</div>


  
<ul class="weekdays">
    <li>Mo</li>
    <li>Tu</li>
    <li>We</li>
    <li>Th</li>
    <li>Fr</li>
    <li>Sa</li>
    <li>Su</li>
</ul>



  
<ul class="days">
    {% for day in range(1, num_days + 1) %}
        <li>
            {{ day }}
            {% if day|string in events %} 
                <ul>
                    {% for event in events[day|string] %}
                        - {{ event }}
                    {% endfor %}
                </ul>
            {% else %}
                <span> - No Events</span>
            {% endif %}
        </li>
    {% endfor %}
</ul>

{% endblock %}
